Repository DevOpsCamp2022/pipeline-and-issue-tests, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sommerdazuehlke, @leovonwyss, @querciak, @keth-dev

.github/CODEOWNERS:

/apis/poi/ @sommerdazuehlke
/apis/trips/ @leovonwyss
/apis/user-java/ @querciak
/apis/userprofile/ @keth-dev

/iac/bicep/ @sommerdazuehlke
/iac/terraform/ @leovonwyss

Add actual backend with secrets (#15)
  .github/workflows/terraform.yml
Owners: none

Only iac/terraform modifications trigger actions
  .github/workflows/terraform.yml
Owners: none

Only iac/terraform/** modifications trigger actions (#16)
  .github/workflows/terraform.yml
Owners: none

polished terraform workflow (#17)
  .github/workflows/terraform.yml
Owners: none

added new line (#19)
  iac/terraform/main.tf
Owners: @leovonwyss

add test workflow for apis/poi (#20)
  .github/workflows/dotnet.yml
  apis/poi/README.md
Owners: @sommerdazuehlke

change-workflow-name (#22)
  .github/workflows/dotnet.yml
Owners: none

Update dotnet.yml (#23)
  .github/workflows/dotnet.yml
Owners: none

Add manual trigger to .net Test Workflow (#21)
  .github/workflows/dotnet.yml
Owners: none

make test fail
  apis/poi/tests/UnitTests/Utility/HealthCheckTests.cs
Owners: @sommerdazuehlke

add automatic issue creation if workflow fails
  .github/workflows/dotnet.yml
Owners: none

Leo combined (#27)
  .github/workflows/dotnet.yml
Owners: none
